
body {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.header {
    order: 1;
    font-size: 1.4rem;
    margin: 0;

   }

.comment {
    order: 2;
    margin: 10px 0 5px 0;
   }

/* index.html page style */
.history--rocky {
    order: 3;
    display: inline-flex;
    justify-content: space-between;
}

.image--rocky {
    flex-basis: 30%;
    height: 200px;
    width: 200px;
    background-image: url(../images/rocky.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.story--rocky {
    flex-basis: 70%;
}

.history--paperusus {
    order: 4;
    display: inline-flex;
}

.image--paperusus {
    flex-basis: 30%;
    height: 200px;
    width: 200px;
    background-image: url(../images/paperusus.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.story--paperusus {
    flex-basis: 70%;
}

.history--scissoro {
    order: 5;
    display: inline-flex;
}

.image--scissoro {
    flex-basis: 30%;
    height: 200px;
    width: 200px;
    background-image: url(../images/scissorro.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.story--scissoro {
    flex-basis: 70%;
}

.play--btn {
    order: 6;
    text-align: center;
}

footer {
    order: 7;
    position: absolute;
    bottom: 0;
}

.center {
    text-align: center;
}

.name {
    font-size: 1rem;
}

div > p {
    font-size: 0.7rem;
    padding-left: 5px;
}
/* game.html page style */
.choose--fighter {
    order: 3;
    display: inline-flex;
    justify-content: space-around;
}

.fighter--rocky {
    flex-basis: 30%;
    height: 200px;
    width: 200px;
    background-image: url(../images/rocky.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fighter--paperusus {
    flex-basis: 30%;
    height: 200px;
    width: 200px;
    background-image: url(../images/paperusus.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fighter--scissorro {
    flex-basis: 30%;
    height: 200px;
    width: 200px;
    background-image: url(../images/scissorro.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fight {
    order: 4;
    display: inline-flex;
    justify-content: space-between;
}

#player--choice {
    flex-basis: 35%;
    height: 150px;
    width: 100px;

}

.vs {
    flex-basis: 30%;
    
}
.vsimage {
    background-image: url(../images/vs.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 100px;
}

#computer--choice {
    flex-basis: 35%;
    height: 150px;
    width: 100px;
}
.game--score {
    order: 5;
    display: inline-flex;
    justify-content: space-between;
    flex-basis: 30%;
}
.player--score {
    text-align: left;
    width: 23%;
    
}

.games {
    text-align: center;
}
.computer--score {
    text-align: right;
}

/* loose.html page style */

.image--loose {
    order: 3;
}
.image--win {
    order: 3;
}
.result--score {
    order: 4;
    display: inline-flex;
}
.return--try {
    order: 5;
    text-align: center;
}
.submit--form {
    order: 6;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
    overflow: hidden;
  }

  /*buttons*/
  .btn {
    border-radius: 2px;
    background-color: #701ef4;
    border: 2px solid orange;
    border-radius: 30%;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .btn:hover {
    background-color: green;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '>>';
    font-size: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .btn--rtn span:after {
    content: '<<';
  }

  .btn:hover span {
    padding-right: 25px;

  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
  .btn--rtn {
    width: 250px;
  }

  .return--btn {
      width: 250px;
  }

  .btn--last {
      width: 150px;
  }

  .font-win::before, .font-loose::before, .font-draw::before {
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    font-size: 300%;
    text-align: right;
  }

  .font-win::before {
    color: goldenrod;
    content: "\f091";
    text-align: center;

  }

  .font-loose::before {
    color: red;
    content: "\f5b3";
    text-align: center;

  }

  .font-draw::before {
    content: "\f2b5";
  }

  @media screen and (max-width: 279px) {

  }
  
  /* phone generations like iPhone 5S. Galaxy fold */

@media screen and (min-width: 280px) and (max-width: 320px) {

}

/* screen 321px-767px */

@media screen and (min-width: 321px) and (max-width: 767px) {

}
/* tablets 768px-1023px */

@media screen and (min-width: 768px) and (max-width: 1023px) {

}
/* iPad PRO 1024px-1279px not standard laptops */

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

/* 1280px up */

@media screen and (min-width: 1280px) {
    header {
        order: 1;
        font-size: 4rem;
        margin: 0;
    
       }

#feedback {
    width: 100%;
}

}