@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway&display=swap');

/* Main styles settings */
html {
	font-size: 10px;
}
body {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	cursor: pointer black;
}

.header {
	font-family: 'Luckiest Guy', cursive;
	font-weight: 300;
	color: black;
	order: 1;
	font-size: 2.1rem;
	margin: 0;
	margin-top: -3px;
	text-shadow: 1px 1px darkviolet;
}

.title,
.choose--fighter,
.fight,
.game--score,
.back {
	background-color: rgba(255, 255, 255, 0.7);
}

.comment {
	margin: 0;
	font-size: 2rem
}

summary {
	display: inline-flex;
}

.how {
	width: auto;
	color: #701ef4;
}

.btn--footer {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	order: 5;
}


/* index.html page style */

.history--rocky {
	order: 2;
	display: inline-flex;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	margin-top: -11px;
}

.image--rocky {
	height: 100px;
	width: 150px;
	background-image: url(../images/rocky.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	flex-basis: 30%;
}

.story--rocky {
	flex-basis: 65%;
	margin-right: 5px;
}

.history--paperusus {
	order: 3;
	display: inline-flex;
	background-color: rgba(255, 255, 255, 0.7);
}

.image--paperusus {
	height: 120px;
	width: 150px;
	background-image: url(../images/paperusus.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	flex-basis: 30%;
}

.story--paperusus {
	flex-basis: 65%;
	margin-right: 5px;
}

.history--scissoro {
	order: 5;
	display: inline-flex;
	background-color: rgba(255, 255, 255, 0.7);
}

.image--scissoro {
	height: 100px;
	width: 150px;
	background-image: url(../images/scissorro.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	flex-basis: 30%;
}

.story--scissoro {
	flex-basis: 65%;
	margin-right: 5px;
}

.play--btn {
	order: 6;
	text-align: center;
}

.center {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.name {
	font-size: 1.5rem;
	margin: 5px;
	text-decoration: underline;
	text-shadow: 1px 0px darkviolet;
}

div>p {
	font-size: 1.17rem;
	padding-left: 5px;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
}


/* game.html page style */

.choose--fighter {
	order: 3;
	display: inline-flex;
	justify-content: space-around;
}

.fighter--rocky {
	height: 100px;
	width: 200px;
	background-image: url(../images/rocky.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.fighter--paperusus {
	height: 100px;
	width: 200px;
	background-image: url(../images/paperusus.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.fighter--scissorro {
	height: 100px;
	width: 200px;
	background-image: url(../images/scissorro.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.zoom {
	cursor: pointer;
	transition: transform .2s; /* Animation */
}
  
.zoom:hover {
	transform: scale(1.2);
}

.zoom--small {
	transition: transform .2s; /* Animation */
}
  
.zoom--small:hover {
	transform: scale(1.1);
}

.fight {
	order: 4;
	display: inline-flex;
	justify-content: space-between;
}

#player--choice {
	flex-basis: 35%;
	height: 150px;
	width: 100px;
}

.vs {
	flex-basis: 30%;
}

.vsimage {
	background-image: url(../images/vs.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	height: 150px;
	width: 100px;
}

#computer--choice {
	flex-basis: 35%;
	height: 150px;
	width: 100px;
}

.game--score {
	order: 5;
	display: inline-flex;
	justify-content: space-between;
	flex-basis: 30%;
}

.player--score {
	text-align: left;
	width: 23%;
	font-size: 1.5rem;
}

.games {
	text-align: center;
	font-size: 1.5rem;
}

.computer--score {
	text-align: right;
	width: 23%;
	font-size: 1.5rem;
}

#computer--scored,
#player--scored,
#total--rounds {
	font-size: 2rem;
}

#user--result,
#computer--result {
	font-size: 1.5rem;
	text-shadow: 1px 1px darkviolet;
}

/* loose.html page style */

.image--win,
.image--loose {
	order: 3;
	text-align: center;
}
.image--loose {
	opacity: 0.7;
}

#last--image {
	height: 40vh;
    width: 90vw;
}

.result--score {
	order: 4;
	display: inline-flex;
}

.return--try {
	order: 5;
	text-align: center;
}

#myForm {
	order: 6;
	text-align: center;
}

#feedback {
	width: 97%;
	text-align: center;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -5;
	overflow: hidden;
}


/*buttons*/

.btn, .how {
	background-color: #701ef4;
	border: 2px solid orange;
	color: #FFFFFF;
	text-align: center;
	font-size: 2.4rem;
	width: auto;
	transition: all 0.5s;
	align-self: center;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}

.btn:hover {
	background-color: green;
}

.btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn span:after {
	content: '>>';
	font-size: 100%;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn--rtn span:after {
	content: '<<';
}

.btn:hover span {
	padding-right: 25px;
}

.btn:hover span:after {
	opacity: 1;
	right: 0;
}

.btn--rtn {
	width: 250px;
}

.return--btn {
	width: 250px;
}

.btn--last {
	width: 130px;
}



.font-win::before,
.font-loose::before,
.font-draw::before {
	font-family: FontAwesome;
	display: inline-block;
	vertical-align: middle;
	font-size: 300%;
	text-align: right;
}

.font-win::before {
	color: goldenrod;
	content: "\f091";
	text-align: center;
}

.font-loose::before {
	color: red;
	content: "\f5b3";
	text-align: center;
}

.font-draw::before {
	content: "\f2b5";
}

textarea#feedback {
	max-width: 700px;
}

.giphy-embed {
	height: 200px;
	width: auto;
}

details {
	display: block;
	font-size: 0.8rem;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-left: 4vw;
    margin-right: 4vw;
}

h4 {
	margin: 0;
	text-decoration: underline;
	font-family: 'Luckiest Guy', cursive;
	font-weight: 100;
}

h3 {
	margin: 5px;
	font-family: 'Luckiest Guy', cursive;
	font-weight: 100;
}

details>p {
	margin: 7px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

footer {
	order: 7;
	text-align: center;
	font-size: 2rem;
}

strong {
	font-family: 'Luckiest Guy', cursive;
	font-weight: 100;
}


/* phone generations like iPhone 5S. Galaxy fold */

@media screen and (min-width: 280px) and (max-width: 320px) {
	.how, .btn {
		font-size: 1.4rem;
	}
}
footer {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.4rem;
}


details>p {
	font-size: 1.17rem;
}

/* screen 321px-767px */

@media screen and (min-width: 321px) and (max-width: 767px) {
	.fighter--rocky,
	.fighter--scissorro {
		height: 130px;
	}
	.fighter--paperusus {
		height: 122px;
	}
	#player--choice,
	#computer--choice {
		height: 200px;
	}
	.vsimage {
		height: 200px;
	}
	.comment {
		margin: 10px 0 25px 0;
		font-size: 2rem;
	}
	.how, .btn {
		font-size: 1.5rem;
	}

	.player--scomment, 
	.computer--scomment, 
	.rounds,
	.player--scomment, 
	.computer--scomment, 
	.rounds, #user--result, 
	#computer--result {
		font-size: 2rem;
	}
}


/* tablets 768px-1023px */

@media screen and (min-width: 768px) and (max-width: 1023px) {
	/* story page */
	.image--scissoro,
	.image--paperusus,
	.image--rocky {
		height: 220px;
		width: 220px;
	}
	.name {
		font-size: 3rem;
	}
	div>p {
		font-size: 2.2rem;
	}
	.fighter--rocky,
	.fighter--scissorro {
		height: 200px;
	}
	.fighter--paperusus {
		height: 188px;
	}
	#player--choice,
	#computer--choice {
		height: 287px;
	}
	.vsimage {
		height: 325px;
	}
	.comment {
		margin: 10px 0 25px 0;
		font-size: 3rem;
	}
	#user--result,
	#computer--result {
		font-size: 3rem;
	}
	.font-win::before,
	.font-loose::before,
	.font-draw::before {
		font-size: 400%;
	}
	#computer--scored,
	#player--scored,
	#total--rounds {
		font-size: 4rem;
	}

	.game--score,
	.computer--score,
	.game--score {
	font-size: 3rem;
	}

	.player--scomment, .computer--scomment, .rounds {
		font-size: 3rem;
	}
	.btn {
		font-size: 23px;
		width: 150px;
	}
	.btn--rtn {
		width: 402px;
	}
	.header {
		font-size: 4rem;
	}
	.btn--last {
		width: auto;
	}
	.return--btn {
		width: 400px;
	}
	.giphy-embed {
		height: 481px;
		width: auto;
	}
	.second {
		font-size: 2rem;
	}
	#feedback {
		height: 100px;
		font-size: 1.6rem;
	}
	details {
		font-size: 1.2rem;
	}
	h3 {
		margin: 10px;
		font-size: 2.4rem;
	}
	h4 {
		margin: 0;
		font-size: 2.1rem;
	}
	

	details>p {
		font-size: 2rem;
	}
	
	footer {
		font-size: 2.5rem;
	}
}


/* iPad PRO 1024px-1279px not standard laptops */

@media screen and (min-width: 1024px) and (max-width: 1278px) {
	/* story page */
	.image--scissoro,
	.image--paperusus,
	.image--rocky {
		height: 220px;
		width: 220px;
	}
	.name {
		font-size: 3rem;
	}
	div>p {
		font-size: 2.2rem;
	}
	.fighter--rocky,
	.fighter--scissorro {
		height: 200px;
	}
	.fighter--paperusus {
		height: 188px;
	}
	.header {
		font-size: 0.1rem;
		display: inline-flex;
	}
	#player--choice,
	#computer--choice {
		height: 287px;
	}
	.vsimage {
		height: 325px;
	}
	.comment {
		margin: 10px 0 25px 0;
		font-size: 3.3rem;
	}

	.player--scomment, 
	.computer--scomment, 
	.rounds,
	.player--scomment, 
	.computer--scomment, 
	.rounds, 
	#user--result, 
	#computer--result {
		font-size: 4rem;
	}

	.font-win::before,
	.font-loose::before,
	.font-draw::before {
		font-size: 400%;
	}
	#computer--scored,
	#player--scored,
	#total--rounds {
		font-size: 4rem;
	}

	.btn {
		font-size: 2.7rem;
		width: 150px;
		
	}
	.btn--rtn {
		width: 402px;
	}
	.header {
		font-size: 4rem;
	}
	.btn--last {
		width: auto;
	}
	.return--btn {
		width: 400px;
	}
	.giphy-embed {
		height: 481px;
		width: auto;
	}
	.second {
		font-size: 2rem;
	}
	#feedback {
		height: 100px;
		font-size: 1.6rem;
	}
	details {
		font-size: 1.2rem;
	}
	details>p {
		font-size: 2.17rem;
	}
	h3 {
		margin: 10px;
		font-size: 3rem;
	}
	h4 {
		margin: 0;
		font-size: 2.4rem;
	}
	footer {
		font-size: 2.5rem;
	}
}


/* 1280px up */

@media screen and (min-width: 1279px) {
	/* story page */
	body {
		margin-left: 100px;
		margin-right: 100px;
	}
	.image--scissoro,
	.image--paperusus,
	.image--rocky {
		height: 20vh;
		width: 220px;
	}
	.name {
		font-size: 2rem;
	}
	div>p {
		font-size: 1.6rem;
	}
	.fighter--rocky,
	.fighter--scissorro {
		height: 20vh;
		background-position: bottom;
	}
	.fighter--paperusus {
		height: 23vh;
		background-position: bottom;
	}
	#player--choice,
	#computer--choice {
		height: 20vh;
		flex-basis: 30%;
	}
	.vsimage {
		height: 20vh;
	}
	.comment {
		margin: 2px 0 1px 0;
		font-size: 2.7rem;
	}

	.font-win::before,
	.font-loose::before,
	.font-draw::before {
		font-size: 300%;
	}

	.player--scomment, 
	.computer--scomment, 
	.rounds,
	.player--scomment, 
	.computer--scomment, 
	.rounds, 
	#user--result, 
	#computer--result,
	#computer--scored,
	#player--scored,
	#total--rounds {
		font-size: 3rem;
	}

	.btn, .how {
		font-size: 2rem;
		width: auto;
	}
	
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.8rem;
	}

	details>p {
		font-size: 1.7rem;
	}

	.btn--rtn {
		width: 402px;
	}
	.header {
		font-size: 3rem;
	}
	.btn--last {
		width: auto;
	}
	.return--btn {
		width: 400px;
	}
	.giphy-embed {
		height: 240px;
		width: auto;
	}
	.second {
		font-size: 2rem;
	}
	#feedback {
		height: 100px;
		font-size: 1.6rem;
	}
}